<div class="center jumbotron">
  <h1>Welcome to the Framgia Test App!</h1>
  <h2> This is the home page for the Framgia Test App. </h2>
  <%= link_to "Sign Up Now!", root_path, class: "btn btn-lg btn-primary" %>
</div>
