<div class="container">
  <div class="row">
    <h1><%= t :categories %></h1>

    <p>
      <%= link_to t(:new), new_admin_category_path, class: "btn btn-primary" %>
    </p>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th><%= t :categories %></th>
      </tr>
      <%= render @categories %>
    </table>
  </div>
</div>
