<div class="container">
 
  <h2><%= t(:all_accounts) %></h2>

  <div class="new-user"></div>
  
  <%= will_paginate %>
  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= t(:email) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="users">
      <%= render @users %>
    </tbody>
  </table>

</div>
